.main-header {  
  background: #eee;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.wrap {
  margin: 0 20px;
  border-top: 1px solid transparent;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.menu-toggler {
  display: none;
  margin-bottom: 0;
  cursor: pointer;
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #124;
  border-bottom: 1px solid #bbb;
}

.menu-toggler + .hidden {
  display: none;
}

.main-nav {
  float: right;
  margin-top: 30px;
  text-align: right;
}

.main-nav ul {  
  margin: 0;
  padding: 0;  
  list-style-type: none;
}

.main-nav li {
  display: inline-block;
  margin-right: -4px;
}

.main-nav a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  background-color: #124;
  color: #fff;
  border-right: 1px solid #bbb;
}

.main-nav a:hover {
  background-color: #146;
}

.login {
  display: none;
  float: right;
  margin-top: 30px;
  max-width: 150px;
  background-color: deepskyblue;
}

.login a {
  display: block;
  padding: 20px;
}

.main-content {
  min-height: 200px;
  background-color: lightblue;
}

@media screen and (max-width: 760px) {
  
  .logo {
    float: none;
    text-align: center;
  }
  
  .menu-toggler {
    display: block;
  }
  
  .menu-toggler:hover {
    background-color: #146;
  }
  
  .menu-toggler + input:checked + .main-nav {
    display: block;
  }
  
  .main-nav {
    display: none;
    float: none;
    text-align: left;
  }
  
  .main-nav li {
    display: block;
    float: none;
    margin-right: 0;
  }
  
  .main-nav {
    margin-top: 0;
  }
  
  .main-nav a {
    border-right: none;
    border-bottom: 1px solid #bbb;
  }
  

}